* {
    margin: 0;
    padding: 0;
}
.container::before {
    display: block;
    position: absolute;
    width: 10%;
    bottom: 0;
    right: 0;
    height: 100%;
    content: "";
    z-index: 3;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #222 100%);
}
.container {
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    border-radius: 3px;
    border: 1px solid #e9d9d9;
    width: 700px;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    border-top: 5px solid #fb6c27;
    .title {
        color: rgb(243, 243, 243);
        margin-left: 50px;
        position: relative;
        font-size: 24px;
        text-transform: uppercase;
        .icon {
            // background-image: url(icon.png);
            // background-position: -213px 0;
            position: absolute;
            left: -40px;
            svg {
                width: 33px;
                height: 22px;
                color: rgba(251, 108, 39, 1);
            }
        }
    }
    .content {
        margin-top: 10px;
        #list {
            float: left;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            left: 0;
            z-index: 1;
            margin: 0px 0px 20px 0px;
            transition-property: transform;
            transform: translate3d(0px, 0px, 0px);
            transition-duration: 1s, 1s;
            // transition-delay: 0s, 1s;
            .item {
                height: 256px;
                margin-right: 20px;
                background-color: white;
                border-radius: 3px;
                .item-title {
                    padding: 10px 10px 0px 10px;
                }
            }
        }
    }
}
.paginaton {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 0;
    .point {
        cursor: pointer;
        margin: 0 5px;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: rgb(255, 255, 255);
        opacity: 0.2;
    }
}
.point-click {
    background: rgba(251, 108, 39, 0.9);
}
a {
    text-decoration: none;
    color: #000;
}
ul,
li {
    list-style: none;
}
.button-next,
.button-pre {
    position: absolute;
    padding: 20px 4px 20px 0px;
    z-index: 10;
    color: white;
    cursor: pointer;
    top: 70px;
    text-align: center;
    display: none;
    svg {
        width: 22px;
        padding-left: 5px;
    }
    // background-color: yellowgreen;
}
.container:hover .button-next,
.container:hover .button-pre {
    display: block;
}
.button-pre {
    border-top-right-radius: 3px;
}
.button-next {
    border-top-left-radius: 3px;
}
.button-next:hover,
.button-pre:hover {
    background-color:rgba(251, 108, 39, 0.9);
}
.point:hover {
    background-color: rgba(251, 108, 39, 0.9);
    opacity: 1;
}
.button-next {
    right: 0;
}
li.item:hover h4{
    opacity: 0.8;
}

